body{
    background-color: #636e72;
}

.movie{
    display:flex;
    background-color: white;
    padding:15px;
    margin:15px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}

.movie:hover{
    transform: translateY(-5px);
}

.movie__column{
    display:flex;
    flex-direction: column;
}

.movie__column:nth-child(2){
    margin-left:15px;
}

.movie__title{
    font-size:35px;
}

.movie__year{
    font-size:20px;
}

.movie__summary{
    width:600px;
}